---
import { db, Links, eq } from 'astro:db';
import Action from './ui/Action.astro';

const publicLinks = await db.select().from(Links).where(eq(Links.public, true));
---

<table class="text-teal-200 w-full">
  <thead class="text-teal-50">
    <th>Link</th>
    <th>URL</th>
  </thead>
  <tbody id="public-links">
    {
      publicLinks.map(({ title, url }) => (
        <tr class="h-12">
          <td class="text-center" transition:name={`title-${title}`}>
            {title}
          </td>
          <td class="text-center">
            <a class="underline" href={url} transition:name={`link-${title}`}>
              {url}
            </a>
          </td>
          <td>
            <Action as="a" href={`/links/${title}`}>
              Inspect
            </Action>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>
