---
import Action from '@/components/ui/Action.astro';
import Typography from '@/components/ui/Typography.astro';
import Layout from '@/layouts/Layout.astro';
import { eq } from 'astro:db';
import { Links } from 'astro:db';
import { db } from 'astro:db';

const { linkTitle } = Astro.params;
if (!linkTitle) return Astro.redirect('/');

const [link] = await db.select().from(Links).where(eq(Links.title, linkTitle));
const { url } = link;
---

<Layout title={linkTitle}>
  <Typography as="h1" transition:name={`title-${linkTitle}`}
    >{linkTitle}</Typography
  >
  <Typography
    id="link"
    as="a"
    variant="h2"
    class="block underline text-xl text-teal-300"
    href={url}
    transition:name={`link-${linkTitle}`}
  >
    {url}
  </Typography>
  <Action as="button" id="generate-qr-code"> Generate QR Code </Action>
  <Action id="copy-link-button" as="button"> Copy link </Action>
  <div class="mt-2" id="qr-code-area"></div>
  <!-- <Action as="button" id="generate-qr-code"> Customize your QR Code </Action> -->
</Layout>
<script>
  import { generateQRCode } from '@/lib/generate-qr-code';

  const copyLinkButton = document.getElementById(
    'copy-link-button'
  ) as HTMLButtonElement;
  const link = document.getElementById('link') as HTMLAnchorElement;
  const url = link.href;

  const copyLink = () => {
    navigator.clipboard.writeText(url);
    const beforeText = copyLinkButton.textContent;
    copyLinkButton.textContent = 'Copiado!';
    copyLinkButton.disabled = true;
    setTimeout(() => {
      copyLinkButton.textContent = beforeText;
      copyLinkButton.disabled = false;
    }, 1000);
  };
  copyLinkButton.addEventListener('click', copyLink);

  const generateQRCodeButton = document.getElementById(
    'generate-qr-code'
  ) as HTMLButtonElement;
  const qrCodeArea = document.getElementById('qr-code-area') as HTMLDivElement;

  const generateQR = () => {
    const qrCode = generateQRCode({
      linkTitle: '',
    });
    qrCode.append(qrCodeArea);
  };
  generateQRCodeButton.addEventListener('click', generateQR);
</script>
